#include("WEB-INF/views/header.vm")
<div class="body">

    <div id="placeholder"></div>
    <script>
        var url = 'http://localhost:8080/v1/categories';

        $.getJSON(url, function (data) {
            var output = "<table class=\"simple-little-table\" cellspacing='0'> " +
                    "<tr>" +
                    "<th> ID </th>" +
                    "<th> Name </th>" +
                    "<th> Parent </th>" +
                    "</tr>";
            for (var i in data) {
                output += "<tr> " +
                        "<th>" + data[i].id + "</th> " +
                        "<th>" + data[i].name + "</th> " +
                        "<th>" + "</th>"
                "<th>" + "</th>"
                "</tr>";
            }

            output += "</table>";
            document.getElementById("placeholder").innerHTML = output;
        });
    </script>

</div>