<!DOCTYPE html>
<html>
<head>

    <title>Budget Rush</title>
    <meta charset="utf-8">
    #include("WEB-INF/views/imports.htm")

</head>
<body>
    #include("WEB-INF/views/header.htm")
    #include("WEB-INF/views/body.htm")
</body>
</html>
