<!DOCTYPE html>
<html>
<head>

    <title>Budget Rush</title>
    <meta charset="utf-8">
    #include("WEB-INF/views/imports.htm")
    <script>
        if(!$.cookie('role') && $.cookie('is_authorised')){
            getRole($.cookie('name'));

        }

    </script>

</head>
<body>
    #include("WEB-INF/views/header.htm")
    #include("WEB-INF/views/body.htm")
</body>
</html>
