<html>
<head>
    #include("WEB-INF/views/header.vm")
</head>
<body>

<div id="placeholder"></div>
<script>
    var url = 'http://localhost:8080/v1/currencies';


    $.getJSON(url, function (data) {
        var output = "<table class=\"simple-little-table\" cellspacing='0'> " +
                " <tr>" +
                "<th> ID </th>" +
                "<th> Name </th>" +
                "<th> Short name </th>" +
                "<th> Code </th>" +
                "<th> Symbol </th>" +
                "<th> &#032 </th>" +
                "</tr>";
        for (var i in data) {
            output +=   "<tr> " +
                        "<th>" + data[i].id + "</th> " +
                        "<th>" + data[i].name + "</th> " +
                        "<th>" + data[i].shortName + "</th> " +
                        "<th>" + data[i].code + "</th> " +
                        "<th>" + data[i].symbol + "</th>" +

                    "<th>" +
                    "<input type=\"button\" onclick=\"$.delete(\"/v1/currency/1/"+ data[i].id +"\")\">" +
                    "</th>"+
                        "</tr>";
        }

        output += "</table>";
        document.getElementById("placeholder").innerHTML = output;
    });
</script>

<script>
    #springFormInput()
</script>

</body>
</html>