<!DOCTYPE html>
<div class="header">

    <title>Budget Rush</title>
    <script src="/resources/js/jquery-2.1.4.min.js"></script>
    <script src="/resources/js/jquery.cookie.js"></script>
    <script src="/resources/js/login.js"></script>
    <script src="/resources/js/httpMethods.js"></script>
    <script src="/resources/js/getContent.js"></script>
    <script src="/resources/js/tokenController.js"></script>
    <script src="/resources/js/header.js"></script>
    <link href="/resources/css/main.css" rel="stylesheet">


    <table class="simple-little-table" id="header-table"/>


    <script>
        $('document').ready(createHeader('header-table'));
    </script>
</div>