
<meta http-equiv="Content-Type" content="application/json; charset="utf-8" />

    <title>Budget Rush</title>
    <script src="/resources/js/jquery-2.1.4.min.js"></script>
    <link href="/resources/css/main.css" rel="stylesheet">

<table class="simple-little-table">
    <tr>

        <th><a href="/users">Users</a></th>
        <th><a href="/accounts">Accounts</a></th>
        <th><a href="currencies">Currencies</a></th>
        <th><a href="/categories">Categories</a></th>
        <th><a href="/contractors">Contractors</a></th>
        <th><a href="/orders">Orders</a></th>
    </tr>
</table>
