<html>
<head>
    #include("WEB-INF/views/header.vm")
    <script src="/resources/js/register.js"></script>
</head>
<body>

<div class="main">
    <div class="field">
        <label for="name">Name:</label>
        <input id="name" type="text" min="4" maxlength="20" required></div>
    <div class="field">
        <label for="password">Password: </label>
        <input id="password" type="password" min="4" maxlength="20" required></div>
    <div class="field">
        <label for="con-password">Confirm Password: </label>
        <input id="con-password" type="password" min="4" maxlength="20" required></div>
    <div class="button">
        <input type="button" value="Sign Up" onClick="register()">
    </div>
</div>

</body>
</html>
